<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siirisoft.aim.wms.mapper.outbound.ext.pda.WmsPdaOutboundOrderDetailMapper">
    <resultMap id="BaseMap" type="com.siirisoft.aim.wms.entity.outbound.ext.pda.WmsPdaOutboundOrderDetail">
        <result column="d_sequence_num" property="dSequenceNum"></result>
        <result column="heat_number" property="heatNumber"></result>
        <result column="ship_number" property="shipNumber"></result>
        <result column="section_num" property="sectionNum"></result>
        <result column="item_id" property="itemId"></result>
        <result column="adv_locator_code" property="advLocatorCode"></result>
        <result column="adv_locator_name" property="advLocatorName"></result>
    </resultMap>

    <select id="queryOutboundOrderDetail" resultMap="BaseMap">
      SELECT
	a.*,
	c.item_id,
	b.d_sequence_num,
	b.heat_number,
	b.ship_number,
	b.section_num,
	d.locator_code as adv_locator_code,
	d.locator_name as adv_locator_name
FROM
	wms_outbound_order_detail a
	LEFT JOIN wms_sgl_item b on a.adv_barcode = b.d_sequence_num
	LEFT JOIN wms_outbound_order_line c on a.line_id = c.line_id
	LEFT JOIN wms_locator d on a.adv_locator_id = d.locator_id
        ${ew.customSqlSegment}
    </select>
</mapper>